table	{
	width: 90%;
	margin: auto;
	text-align: center;
	border-collapse: collapse;
}
table, td, th	{
	border: 1px solid black;
}
tr	{
	height: 25px;
}
.center	{
	text-align: center;
}
.background	{
	background-image: url(https://fanart.tv/fanart/music/07e748f1-075e-428d-85dc-ce3be434e906/albumcover/everyday-5330264cd3c99.jpg);
	background-position: center;
}