.header	{
	text-align: center;
}
table.header	{
	border: 0px;
	width: 500px;
	margin-top: 15px;
	margin-bottom: 15px;
}
.footer	{
	text-align: center;
}
h2.header	{
	font-family: 'Elephant';
}
a	{
	color: seagreen;
}
a:link	{
	color: seagreen;
}
a:visited	{
	color: red;
}
a:hover	{
	font-weight: bold;
}
a:active	{
	text-decoration: none;
}